
/*top left logo of login. a series of transform rotates, translations*/
.logo{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  transform: rotate(-45deg) translate(28px, -15px);
}

.logo_container{
  padding-left: 250px;
  padding-top: 170px;
  padding-bottom:100px;
  padding-right: 20px;
  background-color: var(--background);
  transform: rotate(45deg) translateX(-310px);
  position: absolute;
}
