
.menu_container{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: var(--background);
    position: fixed; /*this is what makes it sticky*/
    top:0;
    z-index: 100;
}

.menu_container ul{
    display: flex;
    justify-content: right; /*Horizontal alignment*/
    align-items: center; /*verticle alignment*/
    gap: 30px;
}

.menu_container ul li{
    list-style-type: none;    
}

.club{
    opacity: 0.7;
    transition: opacity 0.4s linear;
    color: var(--blue2);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}
.club:hover{
    opacity: 1;
}

.menu_logo{
    display: block;
    object-fit: cover;
    height: 70px;
    padding-left: 10px;
    
}

.menu_title{
    font-family: 'Galada';
    font-style: italic;

    color: var(--blue1);
    font-size: 24px;
}



.submenu_container{
    position:absolute;
    height: 400px;
    left:2vw;
    right:2vw;
    top:45px;
    background-color: whitesmoke;
    pointer-events: none;/*prevents us on clicking the submenus outside of the hover effect*/
    opacity: 0;
    border-radius: 20px;
    outline: 3px solid rgba(198, 198, 195, 0.356);

    
    transition: opacity 0.3s linear;
    padding: 10px;

    
    -webkit-box-shadow: 0px 14px 28px -17px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 14px 28px -17px rgba(0,0,0,0.6);
    box-shadow: 0px 14px 28px -17px rgba(0,0,0,0.6);
}


.menu_container li:hover .submenu_container{
    opacity: 1;
    pointer-events: auto;

}


.submenu_flex{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 12px;
}

.left_section{
    width: 45%;
    background-color: var(--yellowV1);
    border-radius: 12px;
    opacity: 0.8;
    transition: opacity 0.4s linear;
}
.left_section:hover{
    opacity: 1;
}



.section_column{
    display: flex;
    flex-direction: column;
}



.right_section{
    width: 55%;
}
.red_section{
    background-color: var(--blue1);
    height: 200px;
    color: white;
    border-radius: 12px;

    
}





.menu_option, .menu_option_red{
    padding-inline: 15px;
    padding-block: 20px;
    color: #1c1c1c;
    opacity: 0.85;
    transition: opacity 0.4s linear;
}
.menu_option:hover, .menu_option_red:hover{
    opacity: 1;
}

.menu_option p, .menu_option_red p{
    max-width: 90%;
}
.menu_option_red{
    color: white;
}



@media (max-width: 860px) {
    .club{
        font-size: 1.5vw;
    }
    .menu_container ul{
        gap:1.2vw;
    }
    .menu_title{
        font-size: 2vw;
    }
    .menu_logo{
        height: 7vw;
    }

}