:root {

    --title_text:rgba(255, 255, 255, 0.686);

    --background: #ede8d3;
    --blue1:#00527e;
    --blue2: #0081ae;
    --blue3:#0097bf;
    --blue4:#4bc5d2;

    --darkBackground:rgba(0, 0, 0, 0.463);

    --yellowV1:#ede8d3ad;
  

}


@font-face {
    font-family: "Arial - modified";
    size-adjust: 92%;
    
    src: local(Arial);
}
  

/* nunito-sans-900italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 900;
    src: url('./assets/fonts/nunito-sans-v15-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* galada-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/galada-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




/* mukta-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/mukta-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* mukta-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/mukta-v16-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* mukta-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/mukta-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* mukta-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/mukta-v16-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* mukta-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/mukta-v16-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html{
    overflow-x: hidden;
}
  
body {
    margin: 0;
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    color: #1c1c1c;
    font-family: 'Mukta','Arial - modified';
    line-height: 1.2;
    font-weight: 400;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h1{
    font-size: 55px;
    font-weight: 900;
}
h2{
    font-size: 39px;
    font-weight: 800;
}
h3{
    font-size: 27px;
    font-weight: 600;
}
  
p{
    font-size: 18px;
    font-weight: 500;
}


::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue4);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue2);
    cursor: pointer;
}

::-webkit-scrollbar-track {
        background-color: var(--background);
}


::selection {
    color: #1c1c1c;
    /*background: #46cb9f;*/
    background: var(--blue4);
}  
